.flash-success {
    color: green;
    background-color: lightgreen;
    border: 1px solid darkgreen;
    padding: 10px;
    margin-bottom: 10px;
} 

.alert.alert-success  {

    color: green;
    background-color: lightgreen;
    border: 1px solid darkgreen;
    padding: 10px;
    margin-bottom: 10px;

}

.flash-danger {

    background-color:  pink;

    padding: 10px;
    margin-bottom: 10px;
} 