.table-container {
    position: relative;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-left: 29px;
    color: black;
    overflow-y: auto;
    max-height: 440px;
    bottom: 19px;
    max-width: 100%;



}

.table-container2 {

    color: black;
    text-align: center;
    font-weight: bold;
    margin-left: 29px;
    color: black;
    overflow-y: auto;
    max-height: 435px;
    bottom: 8px;
    max-width: 100%;


}


.table tbody tr td,
.table tbody tr th {

    color: black;
}

.table th {
    position: sticky;
    color: white;
    background-color: green;


}

.table {

    font-size: 12px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}