<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyDuka</title>
  <link rel="stylesheet" href="../static/indexnav.css" />
 
  <link rel="stylesheet" href="../static/logo.css" />
  <link rel="stylesheet" href="../static/button.css" />
  <link rel="stylesheet" href="../static/flash.css" />
  <link rel="stylesheet" href="../static/form.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">


</head>

<body>
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
  data-sidebar-position="fixed" data-header-position="fixed">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="d-flex align-items-center justify-content-center w-100 align-items-center">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3">
          <div class="card mb-0">
            <div class="card-body">

              <div class="card-body align-items-center ">
                <a href="/" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <h2 class="contactus" align-items-center>Contact Us</h2>
                </a>
                <h4>Give Us A Call</h4>
                <p>+254 714 783 716</p>
                <h4>Email Us</h4>
                <p>info@myduka.co.ke</p>
                <h4>Address</h4>
                <p>Nairobi, Kenya</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
  <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>