{% extends "navbar.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">


<link rel="stylesheet" href="../static/navigation.css" />
<link rel="stylesheet" href="../static/charts.css" />
<link rel="stylesheet" href="../static/table.css" />
<link rel="stylesheet" href="../static/logo.css" />
<link rel="stylesheet" href="../static/button.css" />
<link rel="stylesheet" href="../static/form.css" />
<link rel="stylesheet" href="../static/flash.css" />

{% endblock %}

{% block content %}


<div class="body">
    <p>{{pp}}</p>
    <p>{{sp}}</p>


    <h5 class="dashboard">Admin Dashboard</h5>

    <div class="container mt-1">
        <div class="row">

            {% for i in range(len(year)) %}
            <div class="col-md-6">
                <div class="card text-center totalannual">

                    <div class="card-body annual">
                        <h5 class="card-text title">Total Sales</h5>
                        <p class="card-text"></p>
                        <h3 class="card-text">KES {{ total[i] }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% for i in range(len(year)) %}
            <div class="col-md-6 profits">
                <div class="card text-center totalprofits">

                    <div class="card-body annual">
                        <h5 class="card-text title">Total Profits</h5>
                        <p class="card-text"></p>
                        <h3 class="card-text">KES {{ annualprofits[i] }}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- Pie chart container in the same row as Total Annual Sales -->
            <div class="row">

                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>Total Daily Sales</h5>
                            <canvas class="bar-chart" id="bar-chart"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>Profit per Product</h5>
                            <canvas class="bar-chart2" id="bar-chart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>Total Daily Sales</h5>
                            <canvas class="line-chart" id="line-chart"></canvas>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5>Total Daily Profits</h5>
                            <canvas class="line-chart2" id="line-chart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}

<canvas class="bar-chart" id="bar-chart"></canvas>
<canvas class="bar-chart2" id="bar-chart2"></canvas>
<canvas class="line-chart" id="line-chart"></canvas>
<canvas class="line-chart2" id="line-chart2"></canvas>
<canvas class="myPieChart" id="myPieChart"></canvas>


{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="salesData.js"></script> <!-- This file contains your sales data -->
<script src="generateChart.js"></script> <!-- This file contains JavaScript code to generate the chart -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script>


    var xValues = ["Italy", "France", "Spain", "USA", "Argentina"];
    var yValues = [55, 49, 44, 24, 15];
    var barColors = [
        "#b91d47",
        "#00aba9",
        "#2b5797",
        "#e8c3b9",
        "#1e7145"
    ];

    new Chart("myPieChart", {
        type: "pie",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "World Wide Wine Production 2018"
            },
            legend: {
                position: 'left'
            }
        }
    });
    new Chart(document.getElementById("bar-chart"), {
        type: 'bar',
        data: {
            labels: {{ names | safe}},
        datasets: [{
            label: "Profits",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ value | safe}}
}]
},
        options: {
        legend: { display: false },
        title: {
            display: true,
            text: ' '
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // Start y-axis from zero
                    suggestedMin: 0 // Set the minimum value for the y-axis
                }
            }],
            xAxes: [{
                barPercentage: 0.3, // Adjust the space between bars (0.8 means 80% of the available space)
                categoryPercentage: 0.7 // Adjust the width of each bar
            }]
        }
    }
});




    // Bar chart 2
    new Chart(document.getElementById("bar-chart2"), {
        type: 'bar',
        data: {
            labels: {{ name | safe}},
        datasets: [{
            label: "Profits",
            backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850"],
            data: {{ profit | safe}}
}]
},
        options: {
        legend: { display: false },
        title: {
            display: true,
            text: ' '
        },
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true, // Start y-axis from zero
                    suggestedMin: 0 // Set the minimum value for the y-axis
                }
            }],
            xAxes: [{
                barPercentage: 0.3, // Adjust the space between bars (0.8 means 80% of the available space)
                categoryPercentage: 0.7 // Adjust the width of each bar
            }]
        }
    }
});



    new Chart(document.getElementById("line-chart"), {
        type: 'line',
        data: {
            labels: {{ day | safe }},
        datasets: [{
            data: {{ sl | safe }},
        label: "Sales",
        borderColor: "#3e95cd",
        fill: false,
        spanGaps: true // Display line even with gaps in data
}]
},
        options: {
        title: {
            display: true,
            text: ' '
        },
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0
                }
            }]
        }
    }
});


    // line chart2
    new Chart(document.getElementById("line-chart2"), {
        type: 'line',
        data: {
            labels: {{ daily | safe}},
        datasets: [{
            data: {{ profits | safe}},
        label: "Profits",
        borderColor: "#3e95cd",
        fill: false
}
    ]
},
        options: {
        title: {
            display: true,
            text: ' '
        },
        scales: {
            yAxes: [{
                ticks: {
                    suggestedMin: 0
                }
            }]
        }
    }
});


</script>



{% endblock %}