<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My DUKA</title>
      
    <link rel="stylesheet" href="../static/styles.min.css" />
    <link rel="stylesheet" href="../static/navigation.css" />
    <link rel="stylesheet" href="../static/simplebar.css" />
    <link rel="stylesheet" href="../static/tabler-icons.css" />
</head>

<body class="bodyindex">


    <nav class="navbar navbar-expand-sm bg-light">
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="navbar-brand"><a class="navbar-brand" href="/home">My Duka</a></li>
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
            <li class="nav-item"><a class="nav-link" href="/sales">Sales</a></li>
            <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            <li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>

            </div>

        </ul>
    </nav>
    <div class="headings">
        <div class="column">
            <h3 class="heading">My Duka Sales <br> System <br> <button class="contactbutton"><a href="/login"
                        class="contactbutton">Get Started</a></button>

            </h3>

        </div>

        <div class="indexcolumn">
            <img src="
                alt="Description of the image" class="headingimage">
        </div>
    </div>

    <!-- <footer>
        <nav class="footbar ">
            <ul class="footbar-foot">

                <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                <li class="nav-item"><a class="nav-link" href="/registration">Register</a></li>

                </div>

            </ul>
        </nav>
    </footer> -->
<!-- 
    <script src="../assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/sidebarmenu.js"></script>
    <script src="../assets/js/app.min.js"></script>
    <script src="../assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="../assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="../assets/js/dashboard.js"></script> -->

</body>

</html>